.sign_up {
    width: 100%;
    height: 100vh;
}

.header {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;
    background-color: #b0bec5;
    box-shadow: 0 15px 30px 4px rgba(0,0,0,0.5);
    font-weight: 600;
    cursor: default;
}

.main {
    height: 92vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60vh;
    background-color: #eceff1;
    box-shadow: 0 15px 30px 4px rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
}

.form_group {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 2% 15% 1% 15%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
}

.btn {
    width: 25%;
    height: 6vh;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.5);
    font-weight: 600;
}

.form_control {
    position: relative;
    height: 4vh;
    width: 50%;
    padding: 0 3% 0 3%;
}

.title_form {
    padding-bottom: 5%;
    font-size: 130%;
    font-weight: 600;
}