.main {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    text-align: center;
    margin: 7% 15% 0 15%;
    background-color: #f44336;
}