.create_board {
    width: 100%;
    height: 100vh;
}

.header {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;
    background-color: #9e9e9e;
    box-shadow: 0 15px 30px 4px rgba(0,0,0,0.5);
    font-weight: 600;
    cursor: default;
}

.main {
    height: 92vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    background-color: #eceff1;
    box-shadow: 0 15px 30px 4px rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
}

.form_group {
    position: relative;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 1% 15% 1% 15%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
}

.btn {
    width: 25%;
    height: 6vh;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.5);
    font-weight: 600;
}

.form_control {
    height: 5vh;
    width: 50%;
    padding: 0 3% 0 3%;
}

.form_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    background-color: #eceff1;
    box-shadow: 0 15px 30px 4px rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.title_form {
    padding-bottom: 5%;
    font-size: 130%;
    font-weight: 600;
}

.select_form {
    height: 5vh;
    width: 50%;
}

.form_block_without_error_message {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.form_block_without_error_message .title_form {
    width: 100%;
    font-size: 130%;
    font-weight: 600;
    padding: 0 0 2% 0;
}

.form_block_without_error_message .form {
    width: 100%;
}

.form_block_without_error_message .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4% 0 0 0;

}

.block_with_error_message {
    width: 100%;
    padding: 0 0 5% 0;
}