.app-wrapper{
    margin: 0 auto;
    display: grid;
    width: 800px;
    grid-template-areas:
            "header"
            "content"
            "footer";
    grid-template-rows: 40px 2fr 40px;

    grid-gap: 10px ;
    padding: 5px;
    border-radius: 10px;
}


.app-wrapper-content{
.grid-area: c;


}